{{! <div class="container"></div> }}
<div class="mb-3">
  <button class="btn btn-warning rounded-pill" onclick="history.back()">Go Back</button>
  {{!-- <a href="/edituserprofile/{{_id}}">Edit Profile</a> --}}
</div>
<h1 id="page-heading" class="text-center">Welcome to your homepage</h1>
{{#if recruiter}}
  <br />
  <h2 class="text-center">Welcome Recruiter!</h2>
  <h3 class="text-center">Jobs you have listed</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Web Site</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {{#each jobsListed}}
        <tr>
          <td><a href="/jobdetails/{{_id}}">{{title}}</a></td>
          <td>{{company}}</td>
          <td>{{website}}</td>
          <td>{{tags}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
{{#if applicant}}
<button class="btn btn-info" onclick="location.href='/profile'">Edit Profile</button>
  <br >
  <h2 class="text-center">Welcome Job Seeker!</h2>
  <h3 class="text-center">Jobs you have applied for</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Web Site</th>
        <th>Tags</th>
        <th>Applicant Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each jobsApplied}}
        <tr>
          <td><a href="/jobdetails/{{_id}}">{{title}}</a></td>
          <td>{{company}}</td>
          <td>{{website}}</td>
          <td>{{tags}}</td>
          <td>{{applicant_status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <h3 class="text-center">Jobs you have favorited</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Company</th>
        <th>Web Site</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {{#each jobsFavorited}}
        <tr>
          <td><a href="/jobdetails/{{_id}}">{{title}}</a></td>
          <td>{{company}}</td>
          <td>{{website}}</td>
          <td>{{tags}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
<br />
<br />
<div class="text-center">
  <button onclick="location.href='/'" class="btn btn-success mb-3">Edit Profile</button>
  <a href="/jobSearch" class="btn btn-primary">Job Search</a>
</div>
<br />
<br />
<div class="text-center">
  <button
    onclick="location.href='/logout'"
    class="btn btn-danger"
  >Logout</button>
</div>