<h1>Welcome to the job details page</h1>

 {{#if recruiter}}
    <br>
    <h2>Welcome Recruiter!</h2>
 {{/if}}
 {{#if applicant}}
    <br>
    <h2>Welcome Job Seeker!</h2>
 {{/if}}

  <h2>{{job.title}}</h2>
   <br>Company: {{job.company}}
   <br>URL:<a href="{{job.website}}">{{job.website}}</a>
   <br>Tags: {{job.tags}}
<br>
{{#if applicants}}
   <h3>Applicants</h3>
    <br>
     <table>
    <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>State</th>
    <th>Class Of</th>
    <th>Resume</th>
    <th>Status</th>
    <th>Notes</th>
    </tr>
     {{#each applicants}}
     <tr>
      <td><a href="/jobApplicant/{{superid}}">{{firstName}} {{lastName}}</a></td>
      <td>{{email}}</td>
      <td>{{age}}</td>
      <td>{{state}}</td>
      <td>{{gradYr}}</td>
      <td>resume</td>
      <td><a href="/jobApplicant/{{superid}}">{{status}}</a></td>
      <td><a href="/jobApplicant/{{superid}}">{{notes}}</a></td>
     </tr>
       {{/each}}
 {{/if}}
 </table>
<br><br>
 {{#if applicant}}
    <br>
   <a href="/apply/{{job._id}}">Apply to Job</a>
   <br>
   <a href="/favorite/{{job._id}}">Favorite Job</a>
   <br>
   <a href="/unfavorite/{{job._id}}">Unfavorite Job</a>
   <br><br>
 {{/if}}

<button onclick="location.href='/logout'">Logout</button>