<div class="mb-3">
  <button class="btn btn-warning rounded-pill" onclick="history.back()">Go Back</button>

</div>
<h1 id="page-heading">Job Search</h1>

    <br>
    <h2>Job Search</h2>
    <form action="/jobSearch" method="POST">
      <label for="tagInput">Search Tag:</label>:</label>
      <input type="text" id="tagInput" name="tagInput" required />
      <input type="submit" value="Search By Tag" /> 
    </form>
    <br>
    <a href="/jobSearch">Clear Tag Search (Get All Jobs)</a>
    <br><br>
    <h3>Job Search Result</h3>
     <table>
    <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Web Site</th>
    <th>Tags</th>
    </tr>
     {{#each jobs}}  
    <tr>
        <td><a href="/jobdetails/{{_id}}">{{title}}</a></td>
        <td>{{company}}</td>
        <td>{{website}}</td>
        <td>{{tags}}</td>
    </tr>
    {{/each}}
    </table>
  {{#if recruiter}}
  <br>
  <a href="/jobCreate">Create New Job</a>
  <br>
  {{/if}}
 
<br>
<button onclick="location.href='/logout'">Logout</button>